
{% block pageHeader %}


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/topBar.css' %}">
    <div class="" id="TopBar">
        <a href="#" class="current">Home</a>
        <a href="#">Blog</a>
        <a href="#">Calendar</a>
        <a href="#">Cards</a>
        <a href="#">Member Of The Month</a>

        <div class="container" onclick="openMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>

    <div class="sideMenu" id="sideMenu">
        <a href="javascript:void(0)" id="clsBtn" onclick="closeMenu()">&times;</a>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
        <a href="#">Contact</a>
        

    </div>

    {% load static %}
    <script src="{% static 'js/topBar.js' %}"></script>
{% endblock pageHeader %}
    