
#TopBar{
    background-color: #444;
    /*width: 100%;*/
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    padding: 14px 16px;
    text-align: center;
    border-bottom: 3px solid black;
    z-index: 1;
}


#TopBar a{
    color: rgb(0, 211, 18);
    font-size: 17px;
    text-decoration: none;
    padding: 35px 15px;
    text-align: center;
}


#TopBar a:hover{
    color: white;
    background-color: rgb(6, 158, 19);
    border: 2px solid white;
}


#bg{
    padding-top: 4px;
    padding-bottom: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}


.sideMenu{
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 10;
    overflow-x: hidden;
    background-color: #111;
    transition: 0.8s;
    top: 0;
    right: 0;
    padding-top: 60px;
}

.sideMenu #clsBtn{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    padding: 8px 15px;
}

.sideMenu a{
    padding: 15px 32px 10px 32px;
    text-decoration: none;
    color: #818181;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.container{
    display: inline-block;
    position: absolute;
    margin: 4px 2px;
    right: 25px;
    cursor: pointer;
    overflow: hidden;
}

.container .bar{
    width: 35px;
    height: 6px;
    background-color: white;
    margin: 6px 0;
}

.content{
    padding: 16px 0;
}

.sticky{
    position: fixed;
    top: 2px;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 100vh;
    padding: 14px 16px;
}

.sticky + .content{
    padding-top: 60px;
}